.button {
    display: flex;
    grid-gap: 15px;
    align-items: center;
    &:hover {
        p {
            color: #B3B3B3;
            transition: 0.5s;
        }
    }
    p {
        font-weight: 600;
        transition: 0.5s;
    }

    .active {
        transform: translateX(10px);
        color: #B3B3B3;
    }
}