.message {
    color: #fff;
    display: flex;
    grid-gap: 20px;
    .photo {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background-color: #A5FB9E;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            border-radius: 100%;
        }
    }

    .info {
        width: 80% !important;
        grid-gap: 20px;
        .name {
            font-size: 16px;
            font-weight: 600;
        }
        .text {
            font-size: 14px;
        }
        p {
            word-break: break-all;
        }
    }
}