// --- Fonts --- //
// Zen Dots
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

a, p, h1, h2, h3, h4, h5 {
    width: fit-content;
}

a {
    text-decoration: none;
    color: #fff;
    width: max-content;
}
body {
    background-color: #181818;
}

button, input {
    border: none;
    outline: none;
}

.content {
    display: flex;
    min-height: 100vh;

    div:nth-child(2) {
        width: 100%;
    }
}